#--------------------------------------------------------------------------------------------------
# GENERAL SETTINGS

sonar.core.serverBaseURL=http://sonarqube.{{ allspark_root_domain }}
sonar.builtInQualityProfiles.disableNotificationOnUpdate= true

#--------------------------------------------------------------------------------------------------
# LOOK & FEEL

sonar.lf.enableGravatar=true

#--------------------------------------------------------------------------------------------------
# EMAIL

email.smtp_host.secured=smtp_relay
email.smtp_port.secured=25
email.smtp_secure_connection.secured=false
email.from=sonarqube@{{ allspark_root_domain }}
email.fromName= Sonarqube
email.prefix=[SONARQUBE] Important:
