global:
  resolve_timeout: 5m

route:
  receiver: default

receivers:
  - name: default
    email_configs:
      smarthost: 'smtp_relay:25'
      from: alerts@{{ allspark_root_domain }}
inhibit_rules: []
